
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

header {
  background-color: #444247;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}


header h1 {
  font-size: 24px;
}

.controls {
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  margin: 5px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.sort select {
  padding: 10px;
  margin: 5px;
}
